main {
  position: absolute;
  left: 230px;
  top: 70px;
  right: 0;
  bottom: 0;
  padding: 20px;
  background: var(--black-1);
}
main .content-container {
  height: 100%;
  display: grid;
  grid-template-rows: 123fr 348fr 276fr;
  gap: 20px;
}
main .content {
  display: grid;
  gap: 12px;
}
main .title {
  font-weight: 400;
}
main .card {
  background: linear-gradient(#232c34, #202730);
  padding: 15px;
  border-radius: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
main .card h5 {
  color: var(--gray-2);
  font-size: 14px;
  line-height: 14px;
}
main .card .bar {
  width: 100%;
  height: 1px;
  background: var(--black-2);
  margin: 12px 0 18px 0;
}
main .card .card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .card .content-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
main .card .content-wrapper::-webkit-scrollbar{
  width: 6px;
}
main .card .content-wrapper::-webkit-scrollbar-thumb{
  width: 6px;
  border-radius: 3px;
  padding-left: 5px;
  background: linear-gradient(#172628, #142124);
}